body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
    padding-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.logo {
    text-align: center;
}

.logo img {
    width: 6%;
    height: auto;
}

.title {
    text-align: center;
    color: white;
    margin-top: 10px;
}

.info {
    color: white;
    text-align: center;
}

.author {
    margin-top: 50px;
    text-align: center;
}

.predict {
    color: white;
    text-align: center;
    /* margin: 50px; */
    /* padding: 20px */
}

.predict .choose-file {
    margin-top: 40px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.predict .choose-file h6 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.predict .example {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    /* margin-top: 10px;
    margin-bottom: 20px; */
}


.predict .example h5 {
    text-align: left;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.predict .result {
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    /* margin-top: 10px;
    margin-bottom: 20px; */
}

.predict .result h5 {
    text-align: left;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.predict img {
    width: 70%;
    height: auto;
    padding-bottom: 40px;
}

